@page
@using RazorPageSample.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>The time on the server is @DateTime.Now</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <P>
        @Model.Message
    </P>
    <div>
        <p>当前的系统时间@DateTime.Now</p>
    </div>
</div>
