@page
@model RazorPageSample.Pages.Customers.indexModel
@{
    ViewData["Title"] = "客户管理页面";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div>
    <h1 class="display-4">这里是客户管理页面</h1>
    <h2>The time on the server is @DateTime.Now</h2>   
</div>
