
@{
    ViewBag.Title = "Layout Using Sections";
}
<h2>Layout Using Sections</h2>
@section PageNavigation
{ 
<div>Navigation defind from the view</div>
<ul>
    <li>Nav1</li>
    <li>Nav2</li>
</ul>
}
