
@{
    ViewData["Title"] = "UseAPartialview2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {         
        //$("#getView").load("/ViewDemo/ShowEvents");
        $("#getView").html("你妹的,行不行");
    })
</script>


<h2>UseAPartialview2</h2>
<div id="getView"></div>
