
@{
    ViewData["Title"] = "SimpleHelper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>Menu</legend>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.DisplayName("Check this (or not)")
            @Html.CheckBox("check1")           
        </div>
    }
</fieldset>