
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<a asp-controller="Home" asp-action="Index">返回首页</a>
<br />
<a asp-action="labelHelper">label tag helper</a>
<br />
<a asp-action="InputHelper">Input tag helper</a>