@page
@model RazorPageSample.Pages.Products.CreateModel
@{
    ViewData["Title"] = "新增产品";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input type="text" asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Product.Discretion" class="control-label"></label>
                <input type="text" asp-for="Product.Discretion" class="form-control" />
                <span asp-validation-for="Product.Discretion" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <input type="submit" value="确定" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
