@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">      
        <h2>returning data</h2>
        <ul>
            <li><a href="/Result/ContentDemo">plant Text </a></li>
            <li><a href="/Result/JsonDemo">JsonDemo</a></li>
            <li><a href="/Result/RedirectDemo">百度</a></li>
            <li><a href="/Result/RedirectRouteDemo">返回首页</a></li>
        </ul>
        <h2>POCO Controller</h2>
        <ul>
            <li><a href="/POCO/Index">poco simple text</a></li>
            <li><a href="/POCO/UserAgentInfo">User Agent Info - using Context</a></li>
        </ul>
        <h2>Views</h2>
        <ul>
            <li><a href="/ViewDemo/Index">默认首页</a></li>
            <li><a href="/ViewDemo/PassingMode">传递模型到视图</a></li>
            <li><a href="/ViewDemo/PassingSet">传递集合</a></li>
            <li><a href="/ViewDemo/PassingData">传递数据至视图</a></li>
        </ul>
        <h2>Layout Samples</h2>
        <ul>
            <li><a href="/ViewDemo/LayoutSample">使用默认的布局页</a></li>
            <li><a href="/ViewDemo/LayoutUsingSections">布局中使用分区</a></li>
            <li><a href="/ViewDemo/UseAPartialview">使用局部视图</a></li>
            <li><a href="/ViewDemo/UseAPartialview2">使用前端调用局部视图</a></li>
            <li><a href="/ViewDemo/UseViewComponent">使用视图组件</a></li>
            <li><a href="/ViewDemo/UseZoningPickerSample">使用地区视图组件</a></li>
        </ul>
        <h2>从客户端提交数据</h2>
        <ul>
            <li><a href="/SubmitData/CreateMenus">提交数据(绑定字段)</a></li>
            <li><a href="/SubmitData/CreateMenus2">绑定模型</a></li>
            <li><a href="/SubmitData/CreateMenus3">绑定模型(不带参数)</a></li>
        </ul>
        <h2>注解与验证</h2>
        <ul>
            <li><a href="/SubmitData/CreateMenus4">模型的注解与验证</a></li>
        </ul>
        <h2>HTML Helper</h2>
        <ul>
            <li><a href="/HelplerMethods/SimpleHelper">简单的Helper</a></li>
            <li><a href="/HtmlHelper/HelperWithMenu">使用模型数据</a></li>
            <li><a href="/HtmlHelper/HelperList">绑定列表</a></li>
            <li><a href="/HtmlHelper/StronglyTypeMenu">强类型绑定</a></li>
        </ul>
        <h2>Tag Helper</h2>
        <ul>
            <li><a asp-controller="TagHelpers" asp-action="Index">使用锚定标记辅助程序</a></li>
            <li><a asp-controller="TagHelpers" asp-action="FormHelper">表单验证辅助程序</a></li>
            <li><a asp-controller="TagHelpers" asp-action="CustomerHelper">自定义辅助程序使用</a></li>
        </ul>
    </div>
        
</div>
